实验报告/
*.docx
*.pptx
/test.docx
/test.mlx
# .gitignore

*.xlsx
*.pdf
*.pptx

!*.png
!*.jpg
!*.jpeg
!01作业一 MATLAB基础/*.m
!02作业二 数据拟合/*.m
!03作业三 微分方程/*.m
!04作业四 插值方法/*.m
!05作业五 特征值与特征向量/*.m
!06作业六 古典概型/*.m
!07作业七 回归分析/*.m